/* all the media quries in here */

/* below 1344px ; (84 x 16)px  small screen */
@media (max-width: 84em) {
   .gallery {
      grid-template-columns: repeat(2, 1fr);
   }

   .gallery-item img:hover {
      transform: none;
   }
}

/* below 1264px */
@media (max-width: 75em) {
   html {
      font-size: 56.25%;
   }

   .grid {
      column-gap: 4.8rem;
      row-gap: 6.4rem;
   }

   .heading-secondary {
      font-size: 3.6rem;
   }

   .heading-tertiary {
      font-size: 2.4rem;
   }

   .testimonials-container {
      padding: 9.6rem 3.2rem;
   }
}

/* BELOW 944px */
@media (max-width: 59em) {
   /* 8px / 16px = 0.5 i.e. 50% */
   html {
      font-size: 50%;
   }

   .grid {
      column-gap: 2.8rem;
      row-gap: 6.4rem;
   }

   .meal-plan--tre,
   .meal-plan--seks,
   .meal-plan--ni {
      padding: 4.6rem;
   }

   .logos img {
      height: 2.4rem;
   }

   .step-number {
      font-size: 7.4rem;
   }

   .meal-content {
      padding: 2.4rem 3.2rem 3.2rem 3.2rem;
   }

   .section-testimonials {
      grid-template-columns: 1fr;
   }

   .gallery {
      grid-template-columns: repeat(6, 1fr);
   }

   /* .cta {
      grid-template-columns: 3fr 2fr;
   } */
}

/* for mobile aka small screen */
/* below 816px */
@media (max-width: 51em) {
   .grid--3-cols,
   .grid--4-cols {
      grid-template-columns: repeat(2, 1fr);
   }

   .diets {
      grid-column: 1/-1;
      justify-self: center;
   }

   .meal-plan {
      justify-self: center;
   }

   .heading-secondary {
      margin-bottom: 4.8rem;
   }
}

/* 560px phones */
@media (max-width: 35em) {
   .cta {
      grid-template-columns: 1fr;
   }

   .cta-text-box {
      padding: 3.2rem;
   }

   .cta-img-box {
      height: 32rem;
      grid-row: 1;
   }

   .logos img {
      height: 1.2rem;
   }
}
