.forum-heading {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: column;
}

.forum-heading h1 {
   margin: 18px;
   text-align: center;
   font-size: 72px;
   font-family: Rubik Black;
}
/* 
   .forum-heading p {
      font-size: 36px;
   } */

@media only screen and (max-width: 45em) {
   .forum-heading h1 {
      font-size: 45px;
   }

   .forum-heading-p {
      font-size: 3rem;
      text-align: center;
   }
}

@media only screen and (min-width: 696px) {
   .authors-d-flex {
      display: flex;
      gap: 18px;
      margin: 18px;
      align-content: center;
      justify-content: center;
      align-items: center;
   }
}

@media only screen and (max-width: 35em) {
   .forum-heading h1 {
      margin: 2rem 1rem;
   }
}
